.dar-adopcion-container {
  max-width: 650px;
  margin: 30px auto;
  padding: 20px;
  background: #fbf7f4; 
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dar-adopcion-titulo {
  text-align: center;
  margin-bottom: 20px;
  color: #53a57d; 
  font-size: 24px;
}

.dar-adopcion-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #444;
}

/* Lista de mascotas */
.lista-mascotas {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

.mini-perfil-mascota {
  width: 240px;
  height: 240px;
  background-color: #ffffff;
  border: 2px solid #eee;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.mini-perfil-mascota:hover {
  border-color: #3d7a59; 
  background-color: #e6f1eb;
  transform: scale(1.03);
}

.mini-perfil-mascota.seleccionada {
  border-color: #3d7a59; 
  background-color: #d1e6d7; 
}

.foto-mascota {
  width: 95%;
  height: 75%;
  object-fit: cover;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(83, 165, 125, 0.3);
}

.nombre-mascota {
  display: block;
  font-weight: 600;
  font-size: 15px;
  color: #2f5d3a; 
}

/* Inputs */
.input-texto,
.textarea-descripcion {
  width: 100%;
  padding: 10px; 
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.2s ease;
  color: #333;
}

.input-texto:focus,
.textarea-descripcion:focus {
  border-color: #3d7a59; 
  outline: none;
  box-shadow: 0 0 6px #53a57d; 
}

.textarea-descripcion {
  min-height: 80px;
  resize: none;
}

/* Botón */
.boton-enviar {
  margin-top: 20px;
  padding: 12px;
  background-color: #53a57d; 
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-enviar:hover:not(.boton-deshabilitado) {
  background-color: #3d7a59; 
}

.boton-deshabilitado {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Mensaje si no hay mascotas */
.sin-mascotas {
  font-size: 14px;
  color: #777;
}

.link {
  color: #53a57d;
  text-decoration: underline; 
  cursor: pointer;
}