.registrar-mascota-container {
  max-width: 700px;
  margin: 80px auto 40px;
  padding: 30px;
  background-color: #fbf7f4;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.registrar-mascota-container h2 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #333;
}

.registrar-mascota-container p {
  font-size: 16px;
  color: #666;
}